.jstick-ui-suppress-selection input{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.jstick-ui-container{
    position:relative;
    width:70px; height:70px;
    margin:10px;
}

.ring{
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    margin:auto;

    border-style:solid;
    border-color:black;
    border-width:2px;
    border-radius: 50px;
    width:50px;
    height:50px;
}
.handle-holder{
    width:25px;
    height:25px;
    position:relative;
}
.handle{
    position: absolute;
    width: 8px;
    height: 8px;
    margin-right: -5px;
    margin-bottom: -5px;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(172,172,172);
    cursor: pointer;
}
.transition{
    transition: 0.5s;
}
.v-handle-holder{
    position:absolute;
    left:0;
    bottom:0;
    height:50px;
    width:50%;
}
.v-handle{
    cursor:pointer;
    position:absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom-color:red;
    border-bottom-width:6px;
    border-bottom-style:solid;
    right:-4px;
    top:-11px;
}
.h-handle-holder{
    position:absolute;
    height:25px;
    width:50px;
    top:0;
    right:0;
}
.h-handle{
    cursor:pointer;
    position:absolute;
    width: 0;
    height: 0;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left-color:red;
    border-left-width: 6px;
    border-left-style: solid;
    right:-11px;
    bottom:-4px;    
}
.h-handle:hover{
    border-left-color:blue;
}
.v-handle:hover{
    border-bottom-color:blue;
}
.v-handle-holder input{
    position: absolute;
    top: -30px;
    width: 100%;
    right: -100%;
}
.h-handle-holder input{
    position:absolute;
    right:-5px;
}
.h-value-holder{
    position: absolute;
    width:0;
    right:0;
    bottom:0;
}
.inputs{
    border:1px solid black;
    position: absolute;
    left:50px;
    top:0px;
}
.ring input{
    position: absolute;
    left:0;
    border:none;
    width:auto;
    min-width:10px;
    background-color:transparent;
}
.v-sensitivity-holder{
    position:absolute;
    top:10px; left:0; bottom:10px;
    width:0;
    border-right: 1px dotted rgb(226, 226, 226);
    border-left: 1px solid rgb(175, 175, 175);
}

.h-sensitivity-holder{
    position:absolute;
    left:10px; bottom:0; right:10px;
    height:0;
    border-bottom: 1px dotted rgb(226, 226, 226);
    border-top: 1px solid rgb(175, 175, 175);
}
.v-sensitivity-holder .sensitivity-handle{
    width: 6px;
    height: 2px;
}
.h-sensitivity-holder .sensitivity-handle{
    width: 2px;
    height: 6px;
}
.sensitivity-handle{
    right:0;
    bottom:0;
    position: absolute;
    margin-right: -4px;
    margin-bottom: -4px;
    border: 1px solid black;
    border-radius: 1px;
    background-color: rgb(172,172,172);
    cursor: pointer;
}
.jstick-ui-container .tooltip{
    opacity: 0;
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    border: 4px solid black;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    left: 6px;
    top: -1px;
}
.jstick-ui-container .tooltip:after{
    content: attr(data-content);
    background: rgba(0,0,0,.8);
    border-radius: 2px;
    color: #fff;
    border-color: white;
    font-size: 8pt;
    left: 3px;
    top: -0.75em;
    padding: 2px 5px;
    position: absolute;
    z-index: 98;
    white-space: nowrap;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}